# Google Sheet
SHEET_ID=11oRy3xdhuREqy_s77fre380w5a7hU0gPK2uML8qQmwA
SHEET_GID=0
SHEET_PUBLIC=true

# Compose/URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000
# ถ้าใช้ docker-compose ให้ตั้งเป็น http://backend:4000 (ใน container network)
# NEXT_PUBLIC_BACKEND_URL=http://backend:4000
